.centro{
    text-align: center;
}

body{
    background: url(img/ahorcadofondo.png);
}

.btn{
    border: 3px solid rgba(100, 100, 0, 1);
    margin-bottom: 20px;
    padding: 20px;
    width: 300px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 8px;;
    cursor: pointer;;
    color: #fff;;
    background-size: 300%;
}

.btnletra{
    border: 3px solid rgba(100, 100, 0, 1);
    margin-bottom: 20px;
    padding: 20px;
    width: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 8px;;
    cursor: pointer;;
    color: rgb(51, 13, 13);;
    background-size: 100%;
}

.btn1{
    background-image: linear-gradient(to left, #A950A1, #2D3A54, #A950A1);
}

.btn2{
    background-image: linear-gradient(to left, #38a17e, #342d54, #38a17e);
}

h1{
    font-family: Fantasy;
    background-color: antiquewhite;
}

h2{
    color: #e9f0ff;
}

.intento{
    color: #342d54;
}